<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="accountSection" type="TransactionBe2Bill.Config.AccountSection, TransactionBe2Bill" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="email" value="your@email.com,your@email2.com,..."/>
    <add key="method" value="exportReconciledTransactions"/>
    <add key="method_url" value="https://secure-magenta1.be2bill.com/front/service/rest/reconciliation.php"/>
  </appSettings>
  <accountSection>
    <accounts>
      <account name="Account 1 name" password="Password"></account>
      <account name="Account 2 name" password="Password"></account>
    </accounts>
  </accountSection>
  
</configuration>
